.reveal .slides section.protect-bg h1,
.reveal .slides section.protect-bg h2,
.reveal .slides section.protect-bg h3,
.reveal .slides section.protect-bg p,
.reveal .slides section.protect-bg small {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
}

.reveal .slides section.protect-bg small {
    padding: 5px;
}

.reveal section img {
    border: none;
}

.reveal .timer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.browsers .browser {
    display: inline-block;
}

.browsers .browser img {
    width: 100px;
    box-shadow: none;
}

.browsers .browser.chrome img {
    animation-duration: 3s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.browsers .browser.android img {
    animation-duration: 2s;
    animation-name: fast-rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.browsers .browser.safari img {
    animation-duration: 3s;
    animation-name: lean;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.browsers .browser.firefox img {
    animation-duration: 2s;
    animation-name: perspective;
    animation-iteration-count: infinite;
}

.browsers .browser.opera img {
    animation-duration: 2.5s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.browsers .browser.edge img {
    animation-duration: 3s;
    animation-name: shake;
    animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes fast-rotation {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(3turn);
  }
}

@keyframes lean {
  from {
    transform: rotateX(0turn);
  }

  to {
    transform: rotateX(0.20turn);
  }
}

@keyframes flash {
    from {
      opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes perspective {
  from {
    transform: skew(0deg);
  }

  25% {
    transform: skew(15deg);
  }

  50% {
    transform: skew(0deg);
  }

  75% {
    transform: skew(-15deg);
  }

  to {
    transform: skew(0deg);
  }
}

@keyframes shake {
    from {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(10%, 10%);
    }

    20% {
        transform: translate(-10%, 20%);
    }

    30% {
        transform: translate(-15%, 5%);
    }

    40% {
        transform: translate(-5%, -10%);
    }

    50% {
        transform: translate(-10%, 5%);
    }

    60% {
        transform: translate(-5%, 15%);
    }

    70% {
        transform: translate(5%, -5%);
    }

    80% {
        transform: translate(10%, 0%);
    }

    90% {
        transform: translate(-5%, -5%);
    }

    to {
        transform: translate(0, 0);
    }
}

.reveal h1 code {
    text-transform: none;
}

.reveal h2 code {
    text-transform: none;
}

.reveal h3 code {
    text-transform: none;
}

.reveal .spinner {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    display: inline-block;
    font-size: 1000%;
}

.reveal .spinner.working {
    color: yellow;
}

.reveal .spinner.done {
    color: green;
    font-size: 200%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.anchor {
    position: relative;
}

.reveal section img.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: initial;
    box-shadow: none;

    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.reveal section.animate img.clock {
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
